<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
<style>
  .home_hero_slider {
    margin-top: -10px;
  }
  @media screen and (min-width: 990px) and (max-width: 991px) {
    .home_hero_slider {
      margin-top: 0px !important;
    }
  }  
  .swiper-container {
    overflow-x: hidden;
    width: 100%;
  }
  .slide-cont img {
    width: 100%;
    height: 100%;
  }
  .slide-cont video {
    width: 100%;
    height: 100%;
  }  
  .slide-cont iframe {
    width: 100%;
  }
  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-container{
    position:relative;
  }

  span.swiper-pagination-bullet{
    background: #114232;
    opacity:0.5;

  }
  span.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #114232!important;
    opacity:1;
  }

  .my_next_btn::after,.my_pre_btn::after, .play-pause a{
    font-size: 16px;
    color: #ffffff;
    font-weight: 600;
    justify-content: center;   
    text-align: center;
  }

  .nav-buttons-cont {
    position: relative;
    bottom: 200px;
    left: 0px;
    color: #8b8b8b30;
    width: 100%;
    display: flex;
    align-items: center;
/*     justify-content: center; */
    z-index: 1;
  }
  .swiper-button-next, .swiper-button-prev{
    display:flex !important;
    /*           background: rgba(255,255,255,0.3);
    padding: 0 !important;
    border-radius: 50%;
    height: 60px;
    width: 60px; */
    position: relative;
    margin: 0 15px;
  }

  .swiper-button-next, .swiper-button-prev, .play-pause a {
    cursor: pointer;
    text-decoration: none;
    background: rgba(255,255,255,0.3);
    border-radius: 50%;
    display: flex;
    height: 60px;
    width: 60px;
/*     justify-content: center; */
    align-items: center;
  }

  @media screen and (min-width:1000px){
    {%- for block in section.blocks -%}  

    .slide-bg.slide-bg2{
      background-position:center;
      background-repeat:no-repeat;
      background-size:100% 100%;
/*       height: 970px; */
    }
    {%endfor%}
  }
  @media screen and (max-width: 767px){
    .swiper-button-next, .swiper-button-prev, .play-pause a {
      height: 40px;
      width: 40px;

    }
    .nav-buttons-cont {
      bottom: 100px;  
    }
  }   
  .home_hero_slider .page-width {
    padding: 0px;
/*     padding-bottom: 75px; */
    max-width: 1925px;
    width: 100%;
  }
  @media screen and (max-width: 2000px) {
    .slide-bg.slide-bg2 {
/*       height: 936px; */
    }
  }
  @media screen and (max-width: 1620px) {
    .slide-bg.slide-bg2 {
/*       height: 886px; */
    }
  }
  @media screen and (max-width: 1520px) {
    .slide-bg.slide-bg2 {
/*       height: 825px; */
    }
  }
  @media screen and (max-width: 1450px) {
    .slide-bg.slide-bg2 {
/*       height: 805px; */
    }
  }
  @media screen and (max-width: 1380px) {
    .slide-bg.slide-bg2 {
/*       height: 780px; */
    }
  }
  @media screen and (max-width: 1305px) {
    .slide-bg.slide-bg2 {
/*       height: 760px; */
      height: auto;

    }
  }
/*   @media screen and (max-width: 800px) {
    .slide-bg.slide-bg2 {
      height: 490px;
    }
  } */
  .my_nex_bn i {
    font-size: 22px;
    color: white;
  }
/*   @media screen and (max-width:550px) {
    .slide-cont img {
      width: 100%;
      height: 260px;
    }
    .slide-bg.slide-bg2 {
      height: auto;
    }
  } */
  /*   my-css */
  @media screen and (max-width: 600px) {
    .home_hero_slider .page-width {
      padding-bottom: 20px !important;
    }
  }
/*   @media screen and (min-width: 1400px) {
    .swiper-container {
      overflow: hidden;
    }
  } */
  .video-container {
    background-color: white;
  }
</style>

<!-- Swiper -->
<div class="home_hero_slider">
  <div class="page-width">
    <div class="swiper-container"> 
      <div class="swiper-wrapper" id="gallery_wrapper">
        {%- for block in section.blocks -%}
        {%- case block.type -%}
        {%- when 'image' -%} 
        <div class="swiper-slide">
          <div class="slide-cont"> 
            <div class="slide-bg slide-bg2">
                <a href="{{ block.settings.slid-img-link }}">
                  {% if block.settings.slid-img %}
                  	<img class="slide-item" src="{{ block.settings.slid-img | img_url : 'master'  }}"             
                      width="{{ block.settings.slid-img.width }}"
                      height="{{ block.settings.slid-img.height }}" />
                  {% endif %}
              </a>
            </div>
          </div>
        </div>
        {%- when 'video' -%} 
        <div class="swiper-slide">
          <div class="slide-cont">
            <div class="video-container">
              <p class="iframe-video"> {{block.settings.slid-vid }} </p>
            </div>
          </div>          
        </div>
        {%- when 'text' -%} 
        <div class="swiper-slide">
          <div class="slide-cont">
            <div class="slide-bg slide-bg2">
              <a href="{{ block.settings.slid-img-html-link }}">              
                <video autoplay loop muted  width="1920" height="1082" {% comment %}poster="//cdn.shopify.com/s/files/1/0201/3347/8500/t/4/assets/ytthumb.jpg"{% endcomment %}>
                  <source src="{{block.settings.slid-vid-html }}" type="video/mp4" />
                  Sorry, your browser doesn't support embedded videos.                                                                         
                </video>
              </a>
            </div>
          </div>          
        </div>
        {%endcase%}
        {% endfor %}
      </div> 
      <div class="nav-buttons-cont">
<!--         <div class="swiper-button-prev my_pre_btn my_nex_bn"><i class="fa fa-chevron-left"></i></div>        -->
        <div class="play-pause">
          <a onclick=mySwiper.autoplay.stop(); class="autoplay stop">||</a>
          <a onclick=mySwiper.autoplay.start(); class="autoplay play">▷</a>
        </div>
<!--         <div class="swiper-button-next my_next_btn my_nex_bn"><i class="fa fa-chevron-right"></i></div> -->
      </div>	
      <div class="swiper-pagination" style="display:none;"></div>
    </div>
  </div>
</div>

<!-- Swiper JS -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<!-- Initialize Swiper -->
<script>

  var mySwiper = new Swiper ('.swiper-container', 
                             {
    speed:1000,
    direction: 'horizontal',
    slidesPerView: .9,
    centeredSlides: true,
    spaceBetween: 10,
    navigation: 
    {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    pagination: 
    {
      el: '.swiper-pagination',
      dynamicBullets: true,
    },
    // Disable preloading of all images
    preloadImages: false,  
    zoom: true,
    keyboard: 
    {
      enabled: true,
      onlyInViewport: false,
    },
    // 		mousewheel: 
    // 		{
    // 			invert: true,
    // 		},
    autoplay: 
    {
      delay: 3000,
    },
    loop: true,
  }); 

</script>

<script>
  $(document).ready(function() {

    $('.autoplay.play').hide();

    setInterval (function(){
      var ssheight = $('.slide-item').height();
      $('.slide-cont iframe').css('height', ssheight+'px');
    }, 300);

    $('.autoplay.stop').click (function(){
      $('.autoplay.stop').hide();
      $('.autoplay.play').show();
    });
    $('.autoplay.play').click(function(){
      $('.autoplay.play').hide();
      $('.autoplay.stop').show();
    });
  });
</script>

{% schema %}
{
"name": "Home Page Hero Slider",
"settings": [],
"blocks": [
{
"type": "image",
"name" : "Image Slide",
"settings" :[
{
"id" : "slid-img",
"type" : "image_picker",
"label" : "Image"
},
{
"id" : "slid-img-link",
"type" : "url",
"label" : "Link"
}
]
},
{
"type": "text",
"name" : "HTML Video Slide",
"settings" :[

{
"id"    : "slid-vid-html",
"type"  : "textarea",
"label" : "Video link Here",
"info" : "MP4 format only"
},
{
"id" : "slid-img-html-link",
"type" : "url",
"label" : "Link"
}
]
},
{
"type": "video",
"name" : "Youtube Video Slide",
"settings" :[

{
"id"    : "slid-vid",
"type"  : "text",
"label" : "Video iframe Here"
}
]
}
],
"presets": [
{
"name": "Home Page Hero Slider",
"category": "Custom Sections"
}
]
}
{% endschema %}