<style>
  .swiper.mySwiper.padding-0.swiper-initialized.swiper-horizontal.swiper-pointer-events {
    position:relative;
  }
  .section_3_creative_kids body {
    margin: 0;
    padding: 0;
  }

  .section_3_creative_kids .swiper {
    width: 100%;
    padding: 10px 0 25px 0 !important;
  }

  .section_3_creative_kids .swiper-slide {
    background-position: center;
    background-size: cover;
  }

  .section_3_creative_kids .swiper-slide img {
    display: block;
    width: 100%;
  }
  .section_3_creative_kids .swiper-slide.swiper-slide-active {
    transform: scale(1);
    opacity: 1;
  }
  .section_3_creative_kids button {
    background-image: linear-gradient(rgba(255,255,255,0.3) -34%,#58B73E 80%);
    padding: 13px 0;
    box-shadow: 0px 3px 6px rgb(0 0 0);
    font-size: 27px;
    border-radius: 60px;
    border: 0px;
    color: white;
    font-weight: 600;
    position: absolute;
    top: 83%;
    width: 75%;
    left: 13%;
    letter-spacing: 2px;
  }
  .section_3_creative_kids .swiper-slide {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.5;
  }
  .section_3_creative_kids a {
    text-decoration: none;
    color: white;
  }
  .section_3_creative_kids .swiper-button-prev, .section_3_creative_kids .swiper-button-next {
    position: unset;
    display: contents;
    border: 0px;
    margin: 0;
    background:none;
  }
  .tactile_adv {
    display: flex;
    align-items: center;
    justify-content: center;
    display: -webkit-flex;
  }
  .section_3_creative_kids .swiper-button-prev i, .section_3_creative_kids .swiper-button-next i {
    font-size: 42px;
    color: #57585B;
    transform: rotate(90deg);

  }
  .swiper-button-next:after, .swiper-button-prev:after {
    display:none;
  }
  .tactile_adv p {
    font-size: 50px;
    font-weight: 700;
    margin: 0px;
    color: #57585B;
  }


  @media screen and (max-width:1500px) {
    .section_3_creative_kids button {
      padding: 7px 0;
    }
    .tactile_adv p {
      font-size: 41px;
    }
  }
  @media screen and (max-width:1350px) {
    .section_3_creative_kids button {
      padding: 13px 0px;
      font-size: 22px;
    }
  }
  @media screen and (max-width:1100px) {
    .section_3_creative_kids button {
      padding: 13px 0px;
      font-size: 21px;
    }
    .tactile_adv p {
      font-size: 35px;
    }
  }
  @media screen and (max-width: 970px) {
    .section_3_creative_kids button {
      padding: 8px 0px;
      font-size: 14px;
    }
    .tactile_adv p {
      font-size: 25px;
    }
  }
  @media screen and (max-width: 460px) {
    .section_3_creative_kids button {
      padding: 7px 0px;
    }
    .tactile_adv p {
      font-size: 19px;
    }
  }
  @media screen and (max-width: 350px) {
    .section_3_creative_kids button {
      padding: 4px 0px;
      font-size: 12px;
    }
  }
  .section_3_creative_kids .page-width {
    background-color: white;
    padding: 0;
    padding-bottom: 0px;
    margin-bottom: 30px;
    position: relative;
  }
  .img_cn .tactile_adv p {
    margin-top: 30px;
  }
  .img_cn_090 {
    position: relative;
  }
  .section_3_creative_kids .swiper-slide .tactile_adv {
    visibility : hidden;
  }
  .section_3_creative_kids .swiper-slide.swiper-slide-active .tactile_adv {
    visibility : visible;
  }
  .tactile_adv.top_se {
    align-items: center;
    justify-content: space-around;
    display: -webkit-flex;
    width: 80%;
    margin: auto;
    position: relative;
    bottom: 1.5%;
    margin: auto;
    left: 10%;
  }
  @media screen and (min-width:1100px) {
    .tactile_adv h3 {
      font-size:3rem;
    }
/*     .tactile_adv.top_se {
      bottom: 80px;
    } */
  }
  @media screen and (max-width:320px) {
    .tactile_adv h3 {
      font-size:1.1rem;
    }
  }  
  @media screen and (min-width:320px) and (max-width:640px) {
    .tactile_adv h3 {
      font-size:1.3rem;
    }
  }   
  @media screen and (min-width:800px) and (max-width:1009px) {
    .tactile_adv h3 {
      font-size:2rem;
    }
  } 
  @media screen and (min-width:640px) and (max-width:694px) {
    .tactile_adv h3 {
      font-size:1.7rem;
    }
  } 
  @media screen and (min-width:740px) and (max-width:798px) {
    .tactile_adv h3 {
      font-size:1.7rem;
    }
  }   
  @media screen and (max-width:800px) and (min-width:600px) {
    .tactile_adv.top_se {
/*       bottom: -10px; */
    }
  }
  @media screen and (max-width: 600px) {
    .tactile_adv.top_se {
      width: 67%;
      transform: translateX(23%);
    }
  }
  .tactile_adv h3 {
    font-weight: 700;
    margin: 0px;
    color: #57585B;    
  }
  
.section_3_creative_kids .swiper-button-prev {
  margin-left: 0;
  margin-right: auto;
}
.tactile_adv.icon-cont {
  position: absolute;
  top: 50%;
  width: 48%;
  transform: translateX(53%);
}  
  
  @media screen and (min-width:400px) and (max-width:639px){
    .tactile_adv.icon-cont {
      width: 67%;
      transform: translateX(23%);
    }
  }  
  @media screen and (max-width:399px){
    .tactile_adv.icon-cont {
      width: 75%;
      transform: translateX(16%);
    }
  }  
    
.mySwiper {
 padding-bottom: 50px !important; 
}
  
  .tactile-slider-section-header h1 {
	padding: 25px;    
  	background-image:url({{ section.settings.tactile_slider_header_bkg | img_url : 'master' }});
    background-size: cover;
    height: 100%;
    max-width: 1400px;
    background-repeat: no-repeat;
    color: white; 
    margin: auto;
    text-align: center;        
  }
</style>

<div class="section_3_creative_kids">
  <div class="page-width">
    <div class="tactile-slider-section-header">
  <h1>{{ section.settings.tactile_slider_header_title }}</h1>
</div>
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        {% for block in section.blocks %}
        <div class="swiper-slide">
          <div class="img_cn">
            <div class="img_cn_090">
			 <a href="{{ block.settings.btn_link }}">                      
              <img src="{{ block.settings.image | img_url:'500x500' }}" class="swiper-lazy" loading=lazy width="500" height="100%" />
              {% if block.settings.btn_text != '' %}
              <div class="button_data">
                  <button class="raise">{{ block.settings.btn_text }}</button>
              </div>
              {% endif %}            
            </a>
            </div>           
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="tactile_adv icon-cont">
        <div class="swiper-button-prev" style="-webkit-tap-highlight-color: rgba(0,0,0,0);"><i class="fa fa-sort-down"></i></div>
        <div class="swiper-button-next" style="-webkit-tap-highlight-color: rgba(0,0,0,0);"><i class="fa fa-sort-up"></i></div>
      </div>      
    </div>
  </div>
</div>


<script>
  var swiper = new Swiper(".section_3_creative_kids .mySwiper", {
    grabCursor: true,
    spaceBetween: 30,
    centeredSlides: true,
    slidesPerView: "2.5",
    freeMode: true,
    loop :true,
    keyboard: {
      enabled: true,
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
    // Disable preloading of all images
    preloadImages: false,
    breakpoints: {
      10: {
        slidesPerView: 1.5,
        spaceBetween: 20,
        centeredSlides: true,
        freeMode: true
      },
      400: {
        slidesPerView: 1.6,
        spaceBetween: 20,
        centeredSlides: true,
        freeMode: true
      },
      480: {
        slidesPerView: 1.6,
        spaceBetween: 30,
        centeredSlides: true,
        freeMode: true
      },
      600: {
        slidesPerView: 1.7,
        spaceBetween: 30,
        centeredSlides: true,
        freeMode: true
      },
      640: {
        spaceBetween: 30,
        slidesPerView: "2.5",
        centeredSlides: true,
        freeMode: true
      },
      640: {
        spaceBetween: 0,
        slidesPerView: "2.4",
        centeredSlides: true,
        freeMode: true
      }
    }
  });
</script>

{% schema %}
{
"name": "Categories Slideshow",
"tag": "section",
"class": "slideshow",
"max_blocks": 8,
"settings": [
   {
    "id" 	: "tactile_slider_header_bkg",
    "label" : "Header Background",
    "type"	: "image_picker"
    },
    {
    "id" 	: "tactile_slider_header_title",
    "label" : "Header Title",
    "type"	: "text"
    }
],
"blocks": [
{
"name": "Slide",
"type": "slide",
"settings": [
{
"type": "image_picker",
"id": "image",
"label": "Image"
},
{
"type": "url",
"id": "btn_link",
"label": "Button Link"
},
{
"type": "text",
"id": "btn_text",
"label": "Button Text"
},
{
"type": "text",
"id": "title_txt",
"label": "Slide Text/Title"
}
]
}
],
"presets": [
{
"name": "Categories Slider"
}
]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
