{% comment %}theme-check-disable TemplateLength{% endcomment %}
<link rel="stylesheet" data-href="{{ 'section-main-product.css' | asset_url }}">
<link rel="stylesheet" data-href="{{ 'component-accordion.css' | asset_url }}">
<link rel="stylesheet" data-href="{{ 'component-badge.css' | asset_url }}">
<link rel="stylesheet" data-href="{{ 'component-price.css' | asset_url }}">
<link rel="stylesheet" data-href="{{ 'component-rte.css' | asset_url }}">
<link rel="stylesheet" data-href="{{ 'component-slider.css' | asset_url }}">
<link rel="stylesheet" data-href="{{ 'component-cart-notification.css' | asset_url }}">
<link rel="stylesheet" data-href="{{ 'component-deferred-media.css' | asset_url }}">

{%- assign first_3d_model = product.media | where: "media_type", "model" | first -%}
{%- if first_3d_model -%}
<link rel="stylesheet" data-href="{{ 'component-product-model.css' | asset_url }}">
<link id="ModelViewerStyle" rel="stylesheet" data-href="https://cdn.shopify.com/shopifycloud/model-viewer-ui/assets/v1.0/model-viewer-ui.css">
<link id="ModelViewerOverride" rel="stylesheet" data-href="{{ 'component-model-viewer-ui.css' | asset_url }}">
{%- endif -%}

<section class="page-width page-width-2  margin_top_mble product-space-on-top">
  <div class="product grid grid--1-col {% if product.media.size > 0 %}grid--2-col-tablet{% else %}product--no-media{% endif %}">
    <div class="grid__item product__media-wrapper">
      <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">

      <!-- Demo styles -->
      <style>
        .spr-badge[data-rating="0.0"] {
          visibility:hidden; display: block !important;
        }
        .swiper {
          width: 100%;
          height: 100%;
        }
        .swiper-button-next, .swiper-rtl .swiper-button-prev,.swiper-button-prev, .swiper-rtl .swiper-button-next {
          display: block !important;
        }
        .swiper-slide {
          text-align: center;
          font-size: 18px;
          background: #fff;

          /* Center slide text vertically */
          display: -webkit-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          -webkit-justify-content: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          -webkit-align-items: center;
          align-items: center;
        }

        .swiper-slide img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        .new_mine_sipwes {
          display : none;
        }
        @media screen and (max-width:990px) {
          .new_mine_sipwes {
            display : block;
            height: auto;
          }
          div#slider {
            display: none;
          }
          .new_mine_sipwes .swiper-slide {
            align-items: flex-start;
            padding: 50px;
          }
        }
        
      </style>
      <!-- 
<div class="svg_loader_p">
<svg version="1.1" id="L4" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
viewBox="0 0 100 100" enable-background="new 0 0 0 0" xml:space="preserve">
<circle fill="#000" stroke="none" cx="6" cy="50" r="6">
<animate
attributeName="opacity"
dur="1s"
values="0;1;0"
repeatCount="indefinite"
begin="0.1"/>    
</circle>
<circle fill="#000" stroke="none" cx="26" cy="50" r="6">
<animate
attributeName="opacity"
dur="1s"
values="0;1;0"
repeatCount="indefinite" 
begin="0.2"/>       
</circle>
<circle fill="#000" stroke="none" cx="46" cy="50" r="6">
<animate
attributeName="opacity"
dur="1s"
values="0;1;0"
repeatCount="indefinite" 
begin="0.3"/>     
</circle>
</svg>

</div>

<script>
document.onreadystatechange = function () {       
var state = document.readyState
if (state == 'loading') {
$("div#slider.vertical-slider.ga-vertical-gallery").attr("style","visibility:hidden;");
} 
else if (state == 'interactive') {
setTimeout(function(){
$("div#slider.vertical-slider.ga-vertical-gallery").attr("style","visibility:hidden;");
},1000);
}
else if (state == 'complete') {
$("div#slider.vertical-slider.ga-vertical-gallery").attr("style","visibility:visible;");
}
}
</script>
<style>
.svg_loader_p svg {
height:100px;
width:100px;
}
div#slider.vertical-slider.ga-vertical-gallery {
visibility: hidden;
}
.svg_loader_p {
position: absolute;
top: 34%;
left: 46%;
z-index: 999;
}
.grid__item.product__media-wrapper {
position: relative;
}
</style>
-->



      <div class="swiper mySwiper new_mine_sipwes">
        <div class="swiper-wrapper">

          {%- for media in product.media -%}
          <div class="swiper-slide">
            {%- unless media.id == product.selected_or_first_available_variant.featured_media.id -%}
            <li class="product__media-item grid__item slider__slide{% if media.media_type != 'image' %} product__media-item--full{% endif %}" data-media-id="{{ section.id }}-{{ media.id }}">
              {% render 'product-thumbnail', media: media, position: forloop.index, loop: section.settings.enable_video_looping, modal_id: section.id %}
            </li>
            {%- endunless -%}
          </div>
          {%- endfor -%} 

        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
      </div>

      <!-- Swiper JS -->
      <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

      <script>
        var swiper = new Swiper(".mySwiper", {
          cssMode: true,
          navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
          },
          pagination: {
            clickable: true,
            el: ".swiper-pagination",
          },
          mousewheel: true,
          keyboard: true,
        });
      </script>
      <!--   custom code start  -->

      {% comment %}

      <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css?ver=5.2.2'>
      <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css?ver=5.2.2'>
      {% endcomment %}

      <link rel="stylesheet" data-href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

      <style>
        .nav-container .product__media-toggle, .nav-container .product__media-icon {
          display:none;
        }
        .ga-vertical-gallery .services-slider {
          display: flex;
        }
        .ga-vertical-gallery .slider-main {
          width: 100%;
          text-align: -webkit-center;
        }
        /*         .ga-vertical-gallery .slider-main div img {
        width: 503px;
        height: 505px;
        } */
        .ga-vertical-gallery .main-container {
          width: 440px;
        }
        .slick-slide.slick-current.slick-active .nav-container .product__media.media {
          box-shadow: 0px 1px 13px 0px rgb(0 0 0 / 50%);
        }
        .ga-vertical-gallery .nav-container {
          height: 440px;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
        }
        .ga-vertical-gallery .slider-main {
          width: 440px;
        }
        .main-container .slick-slide img {
          width:100%;
          height:100%;
        }
        .slick-slider .slick-list {
          height: 440px ;
        }
        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
          .ga-vertical-gallery .nav-container {
            width: 100%;
            height: 100%;
          }
        }
        .ga-vertical-gallery .nav-container i.fa {
          text-align: center;
          font-size: 20px;
        }
        .ga-vertical-gallery .nav-container .slider-nav.slick-initialized.slick-slider.slick-vertical {
          height: 485px !important;
        }
        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
          .ga-vertical-gallery .nav-container .slider-nav.slick-initialized.slick-slider.slick-vertical {
            height: inherit;
            height: 100%;
          }
        }
        .ga-vertical-gallery .nav-container img {
          max-height: 135px;
          height: 63px;
          width: 76px;
        }
        .ga-vertical-gallery .nav-container .slick-current img {
          box-shadow: 0 0 4px 2px rgba(108, 232, 220, 0.9);
        }
        .ga-vertical-gallery .nav-container .slick-slide {
          /*           max-height: 135px; */
          margin-bottom: 18px;
          width: 100% !important;  
        }
        @media screen and (min-width: 750px) {
          .nav-container .grid__item {
            padding-bottom: 0rem;
          }
        }
        .ga-vertical-gallery .slick-slide.slick-current.slick-active {
          width: 100% !important;
        }
        .ga-vertical-gallery .slider-nav.slick-initialized.slick-slider.slick-vertical {
          display: flex !important;
          flex-direction: column-reverse;
          text-align: center;
          text-align: -webkit-center;
          height: 100%;
          justify-content: center;
        }
        @media screen and (min-width: 62em) {
          .ga-vertical-gallery .slider-nav.slick-initialized.slick-slider.slick-vertical {
            justify-content: flex-start;
          }
        }
        .ga-vertical-gallery .slick-next, .ga-vertical-gallery .slick-prev {
          position: relative;
          top: unset;
          color: #fc7a22;
          height: unset;
        }
        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
          .ga-vertical-gallery .slick-next, .ga-vertical-gallery .slick-prev {
            top: 0px;
          }
        }
        .ga-vertical-gallery .slick-next:before, .ga-vertical-gallery .slick-prev:before {
          color: transparent;
        }
        .ga-vertical-gallery .slick-next {
          right: unset;
          transform: rotate(-90deg);
        }
        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
          .ga-vertical-gallery .slick-next {
            right: 0px;
          }
        }
        .ga-vertical-gallery .slick-prev {
          left: unset;
          transform: rotate(90deg);
        }
        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
          .ga-vertical-gallery .slick-prev {
            left: 0px;
          }
        }

        @media screen and (min-width: 750px) {
          .nav-container .grid__item {
            width: calc(51% - 4rem / 2) !important;
          }
        }
        .nav-container .product__media.media {
          background-color: white !important;	
        } 
        @media screen and (max-width:800px){
          .ga-vertical-gallery .main-container .slider-main {
            width: auto;
          }
          .ga-vertical-gallery .nav-container {
            /*           	display : none; */
            position: relative;
            left: 55%;
            transform: rotate(90deg);
          } 
          .ga-vertical-gallery .nav-container .slider-nav.slick-initialized.slick-slider.slick-vertical {
            visibility: hidden;
          }
          .ga-vertical-gallery .services-slider {
            position: relative;
            left: -35px;
          }
        }
        @media screen and (max-width: 500px) {
          .ga-vertical-gallery .nav-container {
            left: 50%;
          }
          section.page-width.margin_top_mble {
            overflow-x:hidden;
          }
        }
        @media screen and (max-width: 400px) {
          .ga-vertical-gallery .main-container .slider-main {
            width: 315px;
          }
          .ga-vertical-gallery .nav-container {
            left: 56%;
          }

        }
        @media screen and (max-width: 350px) {
          .ga-vertical-gallery .services-slider {
            left: -35px;
          }
        }

        /*  product page new styles  */

        .product__text.caption-with-letter-spacing_0 {
          border-bottom: 1px solid rgba(0,0,0,0.3);
          margin-bottom: 8px;
          padding-bottom: 10px;
          font-size: 12px;
        }   
        .grid__item_new_top h1.product__title {
          border-bottom: 1px solid rgba(0,0,0,0.3);
          padding-bottom: 8px;
          color: #A73598;

        }
        .grid__item_new_top .product .price--sold-out .price__badge-sold-out {
          display:none;
        }
        .price_flex {
          display: flex;
          align-items: center;
          display: -webkit-flex;
        }
        span.Price_txt {
          font-size: 19px;
          margin-right: 5px;
        }
        .new_mine_sipwes .swiper-button-next:after,.new_mine_sipwes .swiper-button-prev:after {
          font-size: 25px;
        }
        .Specifications_part h1 {
          font-size: 20px;
        }
        .Specifications_part li {
          font-size: 12px;
          padding: 1px 0px;
        }
        .botom_part_add_cart .product__info-wrapper.grid__item.grid__item_new_top {
          margin:auto;
        }
        #default{
          text-align:center;
        }
        img#xzoom-default {
          width: 520px;
          height: 520px;        }
        .xzoom-thumbs .xzoom-gallery {
          height: 50px;
          width: 50px;
          background-size: contain;
          background-position: center;
          transform: rotate(-90deg);
          background-repeat: no-repeat;
        }
        .xzoom_p {
          width: 415px;
          overflow-x: hidden;
          margin: auto;
        }
        .xzoom-thumbs {
          position: absolute;
          left: -230px;
          top: 230px;
          transform: rotate(90deg);
        }
        #default .large-5.column {
          position: relative;
        }
        @media screen and (max-width:990px) {
          img#xzoom-default {
            height: 440px;
            width: 100% !important;
          }
        }
        @media screen and (max-width:920px) {
          img#xzoom-default {
            height: 340px;
            position: relative;
            left: 20px;
          }
        }
        @media screen and (max-width: 820px) {
          img#xzoom-default {
            height: 280px;
          }
          .xzoom-thumbs {
            left: -200px;
            top: 165px;
            transform: rotate(
              90deg);
          }
        }
        @media screen and (max-width:990px) {
          #default {
            display: none;
          }
        } 
        .xzoom-thumbs a {
          text-decoration: none;
        }
        /*   age design */
        span.price-item.price-item--regular {
          background-color: #A73598;
          color: white;
          padding: 10px 25px 10px 25px;
          border-radius: 72px;
          font-size: 25px;
          box-shadow: 2px 2px 6px 0px #000;
        }
        button.btn_add_to_cart {
          width: 100%;
          color: #777154;
          font-size: 15px;
          font-weight: 700;
          padding: 7px;
          border-radius: 30px;
          box-shadow: 2px 2px 6px 0px #000;
          border: 0px;
          /*     find out more info background color */
          background-image: linear-gradient(#ecff00, #f5cc00);
        }
        .price.price_collection_grid {
          margin-top: 10px;
          margin-bottom: 17px;
        }
        .product--age--container{
          padding-top: 5px;
        }
        .product--age {
          color: #A73598;
          border: 4px solid #A73598;
          border-radius: 30px;
          padding: 2px 4px 2px 4px;
          font-size: 25px;
          font-weight: 600;    
        }
        .shopify-payment-button__button {
          border-radius: 30px;
          box-shadow: 2px 2px 6px 0px #000;

        }
        /*          remove-hover-effect-from-xzoom */
        .xzoom-container {
          pointer-events: none;
        }
        .xzoom-thumbs {
          pointer-events: auto;
        }
      </style>  


      <link rel='stylesheet' href='https://unpkg.com/xzoom/dist/xzoom.css'>      
      <!-- default start -->
      <section id="default" class="padding-top0">
        <div class="row">
          <div class="large-5 column">
            <div class="xzoom-container">

              {% for image in product.images %}
              {% if forloop.index == 1 %}
              <img class="xzoom" id="xzoom-default" 
                   src="{{ image.src | product_img_url: 'master' }}" xoriginal="{{ image.src | product_img_url: 'master' }}" 
                   />
              {% endif %}
              {% endfor %}

              <div class="xzoom-thumbs">
                {% for image in product.images %}
                <a href="{{ image.src | product_img_url: 'master' }}">
                  <img class="xzoom-gallery" src="{{ image.src | product_img_url: 'master' }}" 
                       xpreview="{{ image.src | product_img_url: 'master' }}"
                       >
                </a>
                {% endfor %}
                {% comment %}
                <a href="{{ image.src | product_img_url: 'master' }}">
                  <img class="xzoom-gallery" width="80" src="{{ image.src | product_img_url: 'master' }}" 
                       xpreview="{{ image.src | product_img_url: 'master' }}"
                       title="description 1">
                </a>
                {% endcomment %}
              </div>
            </div>        
          </div>
        </div>
      </section>
      <!-- default end -->      


      <!-- partial -->
      <script src='https://code.jquery.com/jquery-2.1.1.js'></script>
      <script src='https://unpkg.com/xzoom/dist/xzoom.min.js'></script>
      <script src='https://hammerjs.github.io/dist/hammer.min.js'></script>
      <script src='https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/js/foundation.min.js'></script>  

      <script>

        (function ($) {
          $(document).ready(function() {
            $('.xzoom, .xzoom-gallery').xzoom({zoomWidth: 400, title: true, tint: '#333', Xoffset: 15});
            $('.xzoom2, .xzoom-gallery2').xzoom({position: '#xzoom2-id', tint: '#ffa200'});
            $('.xzoom3, .xzoom-gallery3').xzoom({position: 'lens', lensShape: 'circle', sourceClass: 'xzoom-hidden'});
            $('.xzoom4, .xzoom-gallery4').xzoom({tint: '#006699', Xoffset: 15});
            $('.xzoom5, .xzoom-gallery5').xzoom({tint: '#006699', Xoffset: 15});

            //Integration with hammer.js
            var isTouchSupported = 'ontouchstart' in window;

            if (isTouchSupported) {
              //If touch device
              $('.xzoom, .xzoom2, .xzoom3, .xzoom4, .xzoom5').each(function(){
                var xzoom = $(this).data('xzoom');
                xzoom.eventunbind();
              });

              $('.xzoom, .xzoom2, .xzoom3').each(function() {
                var xzoom = $(this).data('xzoom');
                $(this).hammer().on("tap", function(event) {
                  event.pageX = event.gesture.center.pageX;
                  event.pageY = event.gesture.center.pageY;
                  var s = 1, ls;

                  xzoom.eventmove = function(element) {
                    element.hammer().on('drag', function(event) {
                      event.pageX = event.gesture.center.pageX;
                      event.pageY = event.gesture.center.pageY;
                      xzoom.movezoom(event);
                      event.gesture.preventDefault();
                    });
                  }

                  xzoom.eventleave = function(element) {
                    element.hammer().on('tap', function(event) {
                      xzoom.closezoom();
                    });
                  }
                  xzoom.openzoom(event);
                });
              });

              $('.xzoom4').each(function() {
                var xzoom = $(this).data('xzoom');
                $(this).hammer().on("tap", function(event) {
                  event.pageX = event.gesture.center.pageX;
                  event.pageY = event.gesture.center.pageY;
                  var s = 1, ls;

                  xzoom.eventmove = function(element) {
                    element.hammer().on('drag', function(event) {
                      event.pageX = event.gesture.center.pageX;
                      event.pageY = event.gesture.center.pageY;
                      xzoom.movezoom(event);
                      event.gesture.preventDefault();
                    });
                  }

                  var counter = 0;
                  xzoom.eventclick = function(element) {
                    element.hammer().on('tap', function() {
                      counter++;
                      if (counter == 1) setTimeout(openfancy,300);
                      event.gesture.preventDefault();
                    });
                  }

                  function openfancy() {
                    if (counter == 2) {
                      xzoom.closezoom();
                      $.fancybox.open(xzoom.gallery().cgallery);
                    } else {
                      xzoom.closezoom();
                    }
                    counter = 0;
                  }
                  xzoom.openzoom(event);
                });
              });

              $('.xzoom5').each(function() {
                var xzoom = $(this).data('xzoom');
                $(this).hammer().on("tap", function(event) {
                  event.pageX = event.gesture.center.pageX;
                  event.pageY = event.gesture.center.pageY;
                  var s = 1, ls;

                  xzoom.eventmove = function(element) {
                    element.hammer().on('drag', function(event) {
                      event.pageX = event.gesture.center.pageX;
                      event.pageY = event.gesture.center.pageY;
                      xzoom.movezoom(event);
                      event.gesture.preventDefault();
                    });
                  }

                  var counter = 0;
                  xzoom.eventclick = function(element) {
                    element.hammer().on('tap', function() {
                      counter++;
                      if (counter == 1) setTimeout(openmagnific,300);
                      event.gesture.preventDefault();
                    });
                  }

                  function openmagnific() {
                    if (counter == 2) {
                      xzoom.closezoom();
                      var gallery = xzoom.gallery().cgallery;
                      var i, images = new Array();
                      for (i in gallery) {
                        images[i] = {src: gallery[i]};
                      }
                      $.magnificPopup.open({items: images, type:'image', gallery: {enabled: true}});
                    } else {
                      xzoom.closezoom();
                    }
                    counter = 0;
                  }
                  xzoom.openzoom(event);
                });
              });

            } else {
              //If not touch device

              //Integration with fancybox plugin
              $('#xzoom-fancy').bind('click', function(event) {
                var xzoom = $(this).data('xzoom');
                xzoom.closezoom();
                $.fancybox.open(xzoom.gallery().cgallery, {padding: 0, helpers: {overlay: {locked: false}}});
                event.preventDefault();
              });

              //Integration with magnific popup plugin
              $('#xzoom-magnific').bind('click', function(event) {
                var xzoom = $(this).data('xzoom');
                xzoom.closezoom();
                var gallery = xzoom.gallery().cgallery;
                var i, images = new Array();
                for (i in gallery) {
                  images[i] = {src: gallery[i]};
                }
                $.magnificPopup.open({items: images, type:'image', gallery: {enabled: true}});
                event.preventDefault();
              });
            }
          });
        })(jQuery);

        $(".xzoom-gallery").hover(function(){
          $(this).click();
        });

        if ($(window).width() > 990) {
          if ($(".xzoom-thumbs").width() > $(".product.grid.grid--1-col.grid--2-col-tablet").height() ) {
            console.log("asasa");
            var bottom_move = $(".xzoom-thumbs").width() - $(".product.grid.grid--1-col.grid--2-col-tablet").height();
            var bottm_1 = bottom_move;
            console.log(bottm_1);
//             $(".product.grid.grid--1-col.grid--2-col-tablet").attr("style","margin-bottom:"+bottm_1+"px");
          }
        }
      </script>









      {% comment %}
      <div class="vertical-slider ga-vertical-gallery" id="slider">
        <section class="services-slider">
          <div class="nav-container">
            <i class="fa fa-angle-up next"></i>
            <div class="slider-nav">

              {%- if product.selected_or_first_available_variant.featured_media != null -%}
              {%- assign media = product.selected_or_first_available_variant.featured_media -%}
              <li class="product__media-item grid__item slider__slide{% if media.media_type != 'image' %} product__media-item--full{% endif %}" data-media-id="{{ section.id }}-{{ media.id }}">
                {% render 'product-thumbnail', media: media, position: 'featured', loop: section.settings.enable_video_looping, modal_id: section.id %}
              </li>
              {%- endif -%}
              {%- for media in product.media -%}
              {%- unless media.id == product.selected_or_first_available_variant.featured_media.id -%}
              <li class="product__media-item grid__item slider__slide{% if media.media_type != 'image' %} product__media-item--full{% endif %}" data-media-id="{{ section.id }}-{{ media.id }}">
                {% render 'product-thumbnail', media: media, position: forloop.index, loop: section.settings.enable_video_looping %}
              </li>
              {%- endunless -%}
              {%- endfor -%}

            </div>
            <i class="fa fa-angle-down prev"></i>
          </div>
          <div class="main-container">
            <div class="slider slider-main">

              {%- if product.selected_or_first_available_variant.featured_media != null -%}
              {%- assign media = product.selected_or_first_available_variant.featured_media -%}
              <li class="product__media-item grid__item slider__slide{% if media.media_type != 'image' %} product__media-item--full{% endif %}" data-media-id="{{ section.id }}-{{ media.id }}">
                {% render 'product-thumbnail', media: media, position: 'featured', loop: section.settings.enable_video_looping, modal_id: section.id %}
              </li>
              {%- endif -%}
              {%- for media in product.media -%}
              {%- unless media.id == product.selected_or_first_available_variant.featured_media.id -%}
              <li class="product__media-item grid__item slider__slide{% if media.media_type != 'image' %} product__media-item--full{% endif %}" data-media-id="{{ section.id }}-{{ media.id }}">
                {% render 'product-thumbnail', media: media, position: forloop.index, loop: section.settings.enable_video_looping, modal_id: section.id %}
              </li>
              {%- endunless -%}
              {%- endfor -%} 

            </div>
          </div>

        </section>
      </div>
      <!-- partial -->
      <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
      <script src='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js'></script>
      <script src='https://cdnjs.cloudflare.com/ajax/libs/fontawesome-iconpicker/3.2.0/js/fontawesome-iconpicker.min.js'></script><script  src="./script.js"></script>


      <script>
        // vertical gallery slider
        jQuery(document).ready( function($) {
          $('.slider-main').slick({
            slidesToShow: 1,
            arrows: false,
            asNavFor: '.slider-nav',
            vertical: true,
            autoplay: false,
            verticalSwiping: true,
            centerMode: false
          });
          if($(window).width()>1000){
            $('.slider-nav').slick({
              slidesToShow: 5,
              arrows: false,
              asNavFor: '.slider-main',
              vertical: true,
              focusOnSelect: true,
              verticalSwiping: false,
              autoplay: false,
              centerMode: false
            });    
          }        
          else{
            $('.slider-nav').slick(
              {
                slidesToShow: 3,
                arrows: false,
                asNavFor: '.slider-main',
                vertical: true,
                focusOnSelect: true,
                verticalSwiping: false,
                autoplay: false,
                centerMode: false
              });
          }
          //on resizing the window fix to broken responsiveness
          $(window).on('resize orientationchange', function() {

            $('.slider-main').slick('unslick');
            $('.slider-nav').slick('unslick');

            $('.slider-main').slick({
              slidesToShow: 1,
              arrows: false,
              asNavFor: '.slider-nav',
              vertical: true,
              autoplay: false,
              verticalSwiping: true,
              centerMode: false
            });
            if($(window).width()>1000){
              $('.slider-nav').slick(
                {
                  slidesToShow: 5,
                  asNavFor: '.slider-main',
                  arrows: false,
                  vertical: true,
                  focusOnSelect: true,
                  verticalSwiping: false,
                  autoplay: false,
                  centerMode: false
                });
            }
            else{
              $('.slider-nav').slick(
                {
                  slidesToShow: 3,
                  asNavFor: '.slider-main',
                  arrows: false,
                  vertical: true,
                  focusOnSelect: true,
                  verticalSwiping: false,
                  autoplay: false,
                  centerMode: false
                });
            }
          });
          $('.nav-container .next').click(function(){
            $('.slider-nav').slick('slickNext');
          });
          $('.nav-container .prev').click(function(){
            $('.slider-nav').slick('slickPrev');
          });
        });

      </script>
      {% endcomment %}


      <!--   custom code end     -->

      {% comment %}              
      <slider-component class="slider-mobile-gutter">
        <a class="skip-to-content-link button visually-hidden" href="#ProductInfo-{{ section.id }}">
          {{ "accessibility.skip_to_product_info" | t }}
        </a>
        <ul class="product__media-list grid grid--peek list-unstyled slider slider--mobile" role="list">
          {%- if product.selected_or_first_available_variant.featured_media != null -%}
          {%- assign media = product.selected_or_first_available_variant.featured_media -%}
          <li class="product__media-item grid__item slider__slide{% if media.media_type != 'image' %} product__media-item--full{% endif %}" data-media-id="{{ section.id }}-{{ media.id }}">
            {% render 'product-thumbnail', media: media, position: 'featured', loop: section.settings.enable_video_looping, modal_id: section.id %}
          </li>
          {%- endif -%}
          {%- for media in product.media -%}
          {%- unless media.id == product.selected_or_first_available_variant.featured_media.id -%}
          <li class="product__media-item grid__item slider__slide{% if media.media_type != 'image' %} product__media-item--full{% endif %}" data-media-id="{{ section.id }}-{{ media.id }}">
            {% render 'product-thumbnail', media: media, position: forloop.index, loop: section.settings.enable_video_looping, modal_id: section.id %}
          </li>
          {%- endunless -%}
          {%- endfor -%}
        </ul>
        <div class="slider-buttons slider-buttons--overlay no-js-hidden{% if product.media.size < 2 %} small-hide{% endif %}">
          <div class="slider-counter caption">
            <span class="slider-counter--current">1</span>
            <span aria-hidden="true"> / </span>
            <span class="visually-hidden">{{ 'accessibility.of' | t }}</span>
            <span class="slider-counter--total">{{ product.media.size }}</span>
          </div>
          <button type="button" class="slider-button slider-button--prev" name="previous" aria-label="{{ 'accessibility.previous_slide' | t }}">{% render 'icon-caret' %}</button>
          <button type="button" class="slider-button slider-button--next" name="next" aria-label="{{ 'accessibility.next_slide' | t }}">{% render 'icon-caret' %}</button>
        </div>
      </slider-component>
      {% endcomment %}
      {%- if first_3d_model -%}
      <button
              class="button button--full-width product__xr-button"
              type="button"
              aria-label="{{ 'products.product.xr_button_label' | t }}"
              data-shopify-xr
              data-shopify-model3d-id="{{ first_3d_model.id }}"
              data-shopify-title="{{ product.title | escape }}"
              data-shopify-xr-hidden
              >
        {% render 'icon-3d-model' %}
        {{ 'products.product.xr_button' | t }}
      </button>
      {%- endif -%}
    </div>

    <div class="product__info-wrapper grid__item grid__item_new_top">
      <div id="ProductInfo-{{ section.id }}" class="product__info-container{% if section.settings.enable_sticky_info %} product__info-container--sticky{% endif %}">
        {%- assign product_form_id = 'product-form-' | append: section.id -%}

        {%- for block in section.blocks -%}
        {%- case block.type -%}
        {%- when '@app' -%}
        {% render block %}
        {%- when 'text' -%}
        <p class="product__text{% if block.settings.text_style == 'uppercase' %} caption-with-letter-spacing{% elsif block.settings.text_style == 'subtitle' %} subtitle{% endif %}">
          {{- block.settings.text -}}
        </p>
        {%- when 'Vendor' -%}
        <p class="product__text caption-with-letter-spacing_0">
          Brand : {{ product.vendor }}
        </p>
        {%- when 'title' -%}
        <h1 class="product__title">
          {{ product.title | escape }}
        </h1>
        {% comment %}Start automatically added Judge.me widget{% endcomment %}
        <div class="product__text">
          {% render 'judgeme_widgets', widget_type: 'judgeme_preview_badge', concierge_install: true, product: product %}
        </div>
        {% comment %}End automatically added Judge.me widget{% endcomment %}

        {%- when 'price' -%}      

        <div class="no-js-hidden price_flex" id="price-{{ section.id }}">
			{% if product.metafields.my_fields.buy_on_amazon %} 
				<span class="Price_txt">MSRP: </span>
	        {% endif %}

          {%- render 'price', product: product, use_variant: true, show_badges: true, price_class: 'price--large' -%}
        </div>
        {% if product_card_product.metafields.my_fields.age %}        
        <div>
          <div>
            <span class="Price_txt product--age--title">Age:   </span>
          </div>
          <div class="product--age--container">
            <span class="product--age">{{ product.metafields.my_fields.age }}</span>
          </div>
        </div>
        {% endif %}
        {%- form 'product', product, id: 'product-form-installment', class: 'installment caption-large' -%}
        <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
        {{ form | payment_terms }}
        {%- endform -%}
        {%- when 'collapsible_tab' -%}
        <div class="product__accordion accordion">
          <details>
            <summary>
              <div class="summary__title">
                {% render 'icon-accordion', icon: block.settings.icon %}
                <h2 class="h4 accordion__title">
                  {{ block.settings.heading | default: block.settings.page.title }}
                </h2>
              </div>
              {% render 'icon-caret' %}
            </summary>
            <div class="accordion__content rte">
              {{ block.settings.content }}
              {{ block.settings.page.content }}
            </div>
          </details>
        </div>
        {%- when 'quantity_selector' -%}
        {% unless product.metafields.my_fields.buy_on_amazon %} 
        <div class="product-form__input product-form__quantity">
          <label class="form__label" for="Quantity-{{ section.id }}">
            {{ 'products.product.quantity.label' | t }}
          </label>
          <quantity-input class="quantity">
            <button class="quantity__button minus_btn_1 no-js-hidden" name="minus" type="button">
              <span class="visually-hidden">{{ 'products.product.quantity.decrease' | t: product: product.title | escape }}</span>
              {% render 'icon-minus' %}
            </button>
            <input class="quantity__input"
                   type="number"
                   name="quantity"
                   id="Quantity-{{ section.id }}"
                   min="1"
                   value="1"
                   form="product-form-{{ section.id }}"
                   >
            <button class="quantity__button plus_btn_1 no-js-hidden" name="plus" type="button">
              <span class="visually-hidden">{{ 'products.product.quantity.increase' | t: product: product.title | escape }}</span>
              {% render 'icon-plus' %}
            </button>
          </quantity-input>
        </div>
		{% endunless %}
        {%- when 'popup' -%}
        <modal-opener class="product-popup-modal__opener no-js-hidden" data-modal="#PopupModal-{{ block.id }}">
          <button id="ProductPopup-{{ block.id }}" class="product-popup-modal__button link" type="button" aria-haspopup="dialog">{{ block.settings.link_label | default: block.settings.page.title }}</button>
        </modal-opener>
        <a href="{{ block.settings.page.url }}" class="product-popup-modal__button link no-js">{{ block.settings.link_label }}</a>
        {%- when 'share' -%}
        <share-button class="share-button">
          <button class="share-button__button button button--tertiary hidden">
            {% render 'icon-share' %}
            {{ 'general.share.share' | t }}
          </button>
          <details>
            <summary class="share-button__button button button--tertiary">
              {% render 'icon-share' %}
              {{ 'general.share.share' | t }}
            </summary>
            <div class="share-button__fallback">
              <div class="field">
                <input type="text"
                       class="field__input"
                       id="url"
                       value="{{ shop.url | append: product.url }}"
                       placeholder="{{ 'general.share.share_url' | t }}"
                       onclick="this.select();"
                       readonly
                       >
                <label class="field__label" for="url">{{ 'general.share.share_url' | t }}</label>
              </div>
              <button class="button button--tertiary">
                {% render 'icon-clipboard' %}
                {{ 'general.share.copy_to_clipboard' | t }}
              </button>
              <span id="ShareMessage-{{ section.id }}" class="share-button__message hidden" role="status" aria-hidden="true">
                {{ 'general.share.success_message' | t }}
              </span>
            </div>
          </details>
        </share-button>
        <script src="{{ 'share.js' | asset_url }}" defer="defer"></script>
        {%- when 'variant_picker' -%}
        {%- unless product.has_only_default_variant -%}
        {%- if block.settings.picker_type == 'button' -%}
        <variant-radios class="no-js-hidden" data-section="{{ section.id }}" data-url="{{ product.url }}">
          {%- for option in product.options_with_values -%}
          <fieldset class="js product-form__input">
            <legend class="form__label">{{ option.name }}</legend>
            {%- for value in option.values -%}
            <input type="radio" id="{{ section.id }}-{{ option.name }}-{{ forloop.index0 }}"
                   name="{{ option.name }}"
                   value="{{ value | escape }}"
                   form="product-form-{{ section.id }}"
                   {% if option.selected_value == value %}checked{% endif %}
                   >
            <label for="{{ section.id }}-{{ option.name }}-{{ forloop.index0 }}">
              {{ value }}
            </label>
            {%- endfor -%}
          </fieldset>
          {%- endfor -%}
          <script type="application/json">
                    {{ product.variants | json }}
          </script>
        </variant-radios>
        {%- else -%}
        <variant-selects class="no-js-hidden" data-section="{{ section.id }}" data-url="{{ product.url }}">
          {%- for option in product.options_with_values -%}
          <div class="product-form__input product-form__input--dropdown">
            <label class="form__label" for="Option-{{ section.id }}-{{ forloop.index0 }}">
              {{ option.name }}
            </label>
            <div class="select">
              <select id="Option-{{ section.id }}-{{ forloop.index0 }}"
                      class="select__select"
                      name="options[{{ option.name | escape }}]"
                      form="product-form-{{ section.id }}"
                      >
                {%- for value in option.values -%}
                <option value="{{ value | escape }}" {% if option.selected_value == value %}selected="selected"{% endif %}>
                  {{ value }}
                </option>
                {%- endfor -%}
              </select>
              {% render 'icon-caret' %}
            </div>
          </div>
          {%- endfor -%}

          <script type="application/json">
                    {{ product.variants | json }}
          </script>
        </variant-selects>
        {%- endif -%}
        {%- endunless -%}

        <noscript>
          <div class="product-form__input{% if product.has_only_default_variant %} hidden{% endif %}">
            <label class="form__label" for="Variants-{{ section.id }}">{{ 'products.product.product_variants' | t }}</label>
            <div class="select">
              <select name="id" id="Variants-{{ section.id }}" class="select__select" form="product-form">
                {%- for variant in product.variants -%}
                <option
                        {% if variant == product.selected_or_first_available_variant %}selected="selected"{% endif %}
                        {% if variant.available == false %}disabled{% endif %}
                        value="{{ variant.id }}"
                        >
                  {{ variant.title }}
                  {%- if variant.available == false %} - {{ 'products.product.sold_out' | t }}{% endif %}
                        - {{ variant.price | money | strip_html }}
                </option>
                {%- endfor -%}
              </select>
              {% render 'icon-caret' %}
            </div>
          </div>
        </noscript>
        {%- when 'buy_buttons' -%}
        <product-form class="product-form">
          {%- form 'product', product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
          <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
          <div class="product-form__buttons">
           {% if product.metafields.my_fields.buy_on_amazon %} 
            <button
                    class="btn_add_to_cart  button button--full-width button--primary"
                    >
                  <a href="https://www.amazon.com/dp/{{ product.metafields.my_fields.buy_on_amazon }}" target="_blank" style="text-decoration: none;color:#777154">Buy now on Amazon</a>
            </button>            
            {% else %}
            <button
                    type="submit"
                    name="add"
                    class="submit_click_1 btn_add_to_cart product-form__submit button button--full-width {% if block.settings.show_dynamic_checkout and product.selling_plan_groups == empty %}button--secondary{% else %}button--primary{% endif %}"
                    {% if product.selected_or_first_available_variant.available == false %}disabled{% endif %}
                    >
              {%- if product.selected_or_first_available_variant.available -%}
              {{ 'products.product.add_to_cart' | t }}
              {%- else -%}
              {{ 'products.product.sold_out' | t }}
              {%- endif -%}
            </button>
            {%- if block.settings.show_dynamic_checkout -%}
            {{ form | payment_button }}
            {%- endif -%}
           {%- endif -%}            
          </div>
          {%- endform -%}
        </product-form>

        {{ 'component-pickup-availability.css' | asset_url | stylesheet_tag }}

        {%- assign pick_up_availabilities = product.selected_or_first_available_variant.store_availabilities | where: 'pick_up_enabled', true -%}

        <pickup-availability class="product__pickup-availabilities no-js-hidden"
                             {% if product.selected_or_first_available_variant.available and pick_up_availabilities.size > 0 %} available{% endif %}
                             data-base-url="{{ shop.url }}{{ routes.root_url }}"
                             data-variant-id="{{ product.selected_or_first_available_variant.id }}"
                             data-has-only-default-variant="{{ product.has_only_default_variant }}"
                             >
          <template>
            <pickup-availability-preview class="pickup-availability-preview">
              {% render 'icon-unavailable' %}
              <div class="pickup-availability-info">
                <p class="caption-large">{{ 'products.product.pickup_availability.unavailable' | t }}</p>
                <button class="pickup-availability-button link link--text underlined-link">{{ 'products.product.pickup_availability.refresh' | t }}</button>
              </div>
              </div>
          </template>
        </pickup-availability>

        <script src="{{ 'pickup-availability.js' | asset_url }}" defer="defer"></script>
        {%- endcase -%}
        {%- endfor -%}
        {% if section.settings.enable_specs %}
        <div class="Specifications_part">
          {% if product.metafields.my_fields.product_spec_1 or product.metafields.my_fields.product_spec_2 or product.metafields.my_fields.product_spec_3 or product.metafields.my_fields.product_spec_4 != blank  %}
          <h1>Specifications:</h1>
          {% endif %}
          <ul class="product_Specifiaction_part">
            {% if product.metafields.my_fields.product_spec_1 != blank %}
            <li>{{ product.metafields.my_fields.product_spec_1 }}</li>
            {% endif %}
            {% if product.metafields.my_fields.product_spec_2 != blank %}
            <li>{{ product.metafields.my_fields.product_spec_2 }}</li>
            {% endif %}
            {% if product.metafields.my_fields.product_spec_3 != blank %}
            <li>{{ product.metafields.my_fields.product_spec_3 }}</li>
            {% endif %}
            {% if product.metafields.my_fields.product_spec_4 != blank %}
            <li>{{ product.metafields.my_fields.product_spec_4 }}</li>
            {% endif %}
          </ul>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
  {%- render 'cart-notification' -%}

  <product-modal id="ProductModal-{{ section.id }}" class="product-media-modal">
    <div role="dialog" aria-label="{{ 'products.modal.label' | t }}" aria-modal="true" tabindex="-1">
      <button id="ModalClose-{{ section.id }}" type="button" class="product-media-modal__toggle" aria-label="{{ 'accessibility.close' | t }}">{% render 'icon-close' %}</button>

      <div class="product-media-modal__content" role="document" aria-label="{{ 'products.modal.label' | t }}" tabindex="0">
        {%- for media in product.media -%}
        {%- if media.media_type == 'image' -%}
        <img
             srcset="{%- if media.preview_image.width >= 550 -%}{{ media.preview_image | img_url: '550x' }} 550w,{%- endif -%}
                     {%- if media.preview_image.width >= 1100 -%}{{ media.preview_image | img_url: '1100x' }} 1100w,{%- endif -%}
                     {%- if media.preview_image.width >= 1680 -%}{{ media.preview_image | img_url: '1680x' }} 1680w,{%- endif -%}
                     {%- if media.preview_image.width >= 2048 -%}{{ media.preview_image | img_url: '2048x' }} 2048w,{%- endif -%}
                     {%- if media.preview_image.width >= 4096 -%}{{ media.preview_image | img_url: '4096x' }} 4096w{%- endif -%}"
             sizes="(min-width: 750px) calc(100vw - 12rem), 100vw"
             src="{{ media.preview_image | img_url: '750x' }}"
             alt="{{ media.alt | escape }}"
             loading="lazy"
             width="1100"
             height="{{ 1100 | divided_by: media.preview_image.aspect_ratio | ceil }}"
             data-media-id="{{ media.id }}"
             >
        {%- else -%}
        {%- if media.media_type == 'model' -%}
        <div class="product-media-modal__model" data-media-id="{{ media.id }}">
          <product-model class="deferred-media media" style="padding-top: min(calc(100vh - 12rem), 100%)">
            {%- else -%}
            <deferred-media class="deferred-media media" style="padding-top: min(calc(100vh - 12rem), {{ 1 | divided_by: media.aspect_ratio | times: 100 }}%)" data-media-id="{{ media.id }}">
              {%- endif -%}

              <button id="Deferred-Poster-Modal-{{ media.id }}" class="deferred-media__poster" type="button">
                <span class="deferred-media__poster-button motion-reduce">
                  {%- if media.media_type == 'model' -%}
                  {%- render 'icon-3d-model' -%}
                  {%- else -%}
                  {%- render 'icon-play' -%}
                  {%- endif -%}
                </span>
                <img
                     srcset="{% if media.preview_image.width >= 288 %}{{ media.preview_image | img_url: '288x' }} 288w,{% endif %}
                             {% if media.preview_image.width >= 576 %}{{ media.preview_image | img_url: '576x' }} 576w,{% endif %}
                             {% if media.preview_image.width >= 550 %}{{ media.preview_image | img_url: '550x' }} 550w,{% endif %}
                             {% if media.preview_image.width >= 1100 %}{{ media.preview_image | img_url: '1100x' }} 1100w{% endif %}"
                     src="{{ media | img_url: '550x550' }}"
                     sizes="(min-width: 1200px) calc((1200px - 10rem) / 2), (min-width: 750px) calc((100vw - 11.5rem) / 2), calc(100vw - 4rem)"
                     loading="lazy"
                     width="576"
                     height="{{ 576 | divided_by: media.preview_image.aspect_ratio }}"
                     alt="{{ media.preview_image.alt | escape }}"
                     >
              </button>
              <template>
                {%- case media.media_type -%}
                {%- when 'external_video' -%}
                {%- assign video_class = 'js-' | append: media.host -%}
                {%- if media.host == 'youtube' -%}
                {{ media | external_video_url: autoplay: true, loop: section.settings.enable_video_looping, playlist: media.external_id | external_video_tag: class: video_class, loading: "lazy" }}
                {%- else -%}
                {{ media | external_video_url: autoplay: true, loop: section.settings.enable_video_looping | external_video_tag: class: video_class, loading: "lazy" }}
                {%- endif -%}
                {%- when 'video' -%}
                {{ media | media_tag: image_size: "2048x", autoplay: true, loop: section.settings.enable_video_looping, controls: true, preload: "none", autoplay: true }}
                {%- when 'model' -%}
                {{ media | media_tag: image_size: "2048x", toggleable: true }}
                {%- endcase -%}
              </template>

              {%- if media.media_type == 'model' -%}
              </product-model>
            <button
                    class="button button--full-width product__xr-button"
                    type="button"
                    aria-label="{{ 'products.product.xr_button_label' | t }}"
                    data-shopify-xr
                    data-shopify-model3d-id="{{ media.id }}"
                    data-shopify-title="title"
                    data-shopify-xr-hidden
                    >
              {% render 'icon-3d-model' %}
              {{ 'products.product.xr_button' | t }}
            </button>
            </div>
          {%- else -%}
          </deferred-media>
        {%- endif -%}
        {%- endif -%}
        {%- endfor -%}
      </div>
    </div>
  </product-modal>

  {% assign popups = section.blocks | where: "type", "popup" %}
  {%- for block in popups -%}
  <modal-dialog id="PopupModal-{{ block.id }}" class="product-popup-modal">
    <div role="dialog" aria-label="{{ block.settings.link_label }}" aria-modal="true" class="product-popup-modal__content" tabindex="-1">
      <button id="ModalClose-{{ block.id }}" type="button" class="product-popup-modal__toggle" aria-label="{{ 'accessibility.close' | t }}">{% render 'icon-close' %}</button>
      <div class="product-popup-modal__content-info">
        <h1 class="h2">{{ block.settings.page.title }}</h1>
        {{ block.settings.page.content }}
      </div>
    </div>
  </modal-dialog>
  {%- endfor -%}

  <!--   Jay removed due to change of background color -->

  <!--   <div class="product-section--description-seperator" style="background-color: #faf8f6; width:100%;height:30px;">
  </div> -->


  {%- if product.description != blank -%}
  <div class="product__description rte ssp">
    <h1 class="product__description_title">About this item:</h1>
    <div class="product__description_pr" style="font-size:15px;">
      {{ product.description }}
    </div>
  </div>
  {%- endif -%}  


  <style>
    .on_to_flex_below_desc {  
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .on_to_flex_below_desc .submit_click_2 {
      padding: 0px;
      margin-bottom: 0;
      margin-right: 15px;
    }
    .on_to_flex_below_desc .Price_txt_fl {
      display: flex;
    }
    .on_to_flex_below_desc .product-form__input.product-form__quantity {
      margin-right: 15px;
      width: auto;
      max-width: fit-content;
    }
    .botom_part_add_cart label.form__label {
      position: absolute;
      top: -10px;
    }
    .botom_part_add_cart {
      margin: 20px 0;
    }
    @media screen and (max-width:500px) {
      .on_to_flex_below_desc {
        display: grid;
      }
      .botom_part_add_cart {
        margin-bottom: 0;
      }
      .on_to_flex_below_desc .product-form__input.product-form__quantity {
        margin-right: 0;
      }
      .on_to_flex_below_desc .Price_txt_fl {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 0;
      }
    }

  </style>

  <div class="botom_part_add_cart">
    <div class="product__info-wrapper grid__item grid__item_new_top">
     {% if product.metafields.my_fields.buy_on_amazon %} 
      <div class="on_to_flex_below_desc product__info-container {% if section.settings.enable_sticky_info %} product__info-container--sticky{% endif %}" style="margin-top: 10px;margin-bottom: 17px;">
        <button
                class="btn_add_to_cart  button button--full-width button--primary"
                >
              <a href="https://www.amazon.com/dp/{{ product.metafields.my_fields.buy_on_amazon }}" target="_blank" style="text-decoration: none;color:#777154">Buy now on Amazon</a>
        </button>
      </div>
      {% else %}
      <div id="ProductInfo-{{ section.id }}" class="on_to_flex_below_desc product__info-container {% if section.settings.enable_sticky_info %} product__info-container--sticky{% endif %}">
        {%- assign product_form_id = 'product-form-' | append: section.id -%}
        <button
                type="submit"
                name="add"
                class="submit_click_2 btn_add_to_cart product-form__submit button button--full-width {% if block.settings.show_dynamic_checkout and product.selling_plan_groups == empty %}button--secondary{% else %}button--primary{% endif %}"
                {% if product.selected_or_first_available_variant.available == false %}disabled{% endif %}
                >
          {%- if product.selected_or_first_available_variant.available -%}
          {{ 'products.product.add_to_cart' | t }}
          {%- else -%}
          {{ 'products.product.sold_out' | t }}
          {%- endif -%}
        </button>

        <div class="product-form__input product-form__quantity">
          <label class="form__label" for="Quantity-{{ section.id }}">
            {{ 'products.product.quantity.label' | t }}
          </label>
          <quantity-input class="quantity">
            <button class="quantity__button minus_btn_2 no-js-hidden" name="minus" type="button">
              <span class="visually-hidden">{{ 'products.product.quantity.decrease' | t: product: product.title | escape }}</span>
              {% render 'icon-minus' %}
            </button>
            <input class="quantity__input"
                   type="number"
                   name="quantity"
                   id="Quantity-{{ section.id }}"
                   min="1"
                   value="1"
                   form="product-form-{{ section.id }}"
                   >
            <button class="quantity__button plus_btn_2 no-js-hidden" name="plus" type="button">
              <span class="visually-hidden">{{ 'products.product.quantity.increase' | t: product: product.title | escape }}</span>
              {% render 'icon-plus' %}
            </button>
          </quantity-input>
        </div>
        <div class="Price_txt_fl">
          {%- render 'price', product: product, use_variant: true, show_badges: true, price_class: 'price--large' -%}
        </div>
      </div>
     {% endif %}
    </div>
  </div>

<!--   Jay removed due to change of background color -->
  <!--   <div class="product-section--description-seperator" style="background-color: #faf8f6; width:100%;height:30px;">
  </div> -->

</section>
{% javascript %}
class ProductModal extends ModalDialog {
constructor() {
super();
}

hide() {
super.hide();
window.pauseAllMedia();
}

show(opener) {
super.show(opener);
this.showActiveMedia();
}

showActiveMedia() {
this.querySelectorAll(`[data-media-id]:not([data-media-id="${this.openedBy.getAttribute("data-media-id")}"])`).forEach((element) => {
element.classList.remove('active');
}
)
const activeMedia = this.querySelector(`[data-media-id="${this.openedBy.getAttribute("data-media-id")}"]`);
activeMedia.classList.add('active');
activeMedia.scrollIntoView();

if (activeMedia.nodeName == 'DEFERRED-MEDIA' && activeMedia.querySelector('template')?.content?.querySelector('.js-youtube'))
activeMedia.loadContent();
}
}

customElements.define('product-modal', ProductModal);
{% endjavascript %}
<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>

{%- if first_3d_model -%}
<script type="application/json" id="ProductJSON-{{ product.id }}">
    {{ product.media | where: 'media_type', 'model' | json }}
</script>

<script src="{{ 'product-model.js' | asset_url }}" defer></script>
{%- endif -%}

{% schema %}
{
"name": "t:sections.main-product.name",
"tag": "section",
"class": "product-section spaced-section",
"blocks": [
{
"type": "@app"
},
{
"type": "text",
"name": "t:sections.main-product.blocks.text.name",
"settings": [
{
"type": "text",
"id": "text",
"default": "Text block",
"label": "t:sections.main-product.blocks.text.settings.text.label"
},
{
"type": "select",
"id": "text_style",
"options": [
{
"value": "body",
"label": "t:sections.main-product.blocks.text.settings.text_style.options__1.label"
},
{
"value": "subtitle",
"label": "t:sections.main-product.blocks.text.settings.text_style.options__2.label"
},
{
"value": "uppercase",
"label": "t:sections.main-product.blocks.text.settings.text_style.options__3.label"
}
],
"default": "body",
"label": "t:sections.main-product.blocks.text.settings.text_style.label"
}
]
},
{
"type": "title",
"name": "t:sections.main-product.blocks.title.name",
"limit": 1
},
{
"type": "Vendor",
"name": "Vendor",
"limit": 1
},
{
"type": "price",
"name": "t:sections.main-product.blocks.price.name",
"limit": 1
},
{
"type": "quantity_selector",
"name": "t:sections.main-product.blocks.quantity_selector.name",
"limit": 1
},
{
"type": "variant_picker",
"name": "t:sections.main-product.blocks.variant_picker.name",
"limit": 1,
"settings": [
{
"type": "select",
"id": "picker_type",
"options": [
{
"value": "dropdown",
"label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.options__1.label"
},
{
"value": "button",
"label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.options__2.label"
}
],
"default": "button",
"label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.label"
}
]
},
{
"type": "buy_buttons",
"name": "t:sections.main-product.blocks.buy_buttons.name",
"limit": 1,
"settings": [
{
"type": "checkbox",
"id": "show_dynamic_checkout",
"default": true,
"label": "t:sections.main-product.blocks.buy_buttons.settings.show_dynamic_checkout.label",
"info": "t:sections.main-product.blocks.buy_buttons.settings.show_dynamic_checkout.info"
}
]
},
{
"type": "description",
"name": "t:sections.main-product.blocks.description.name",
"limit": 1
},
{
"type": "share",
"name": "t:sections.main-product.blocks.share.name",
"limit": 1,
"settings": [
{
"type": "paragraph",
"content": "t:sections.main-product.blocks.share.settings.featured_image_info.content"
},
{
"type": "paragraph",
"content": "t:sections.main-product.blocks.share.settings.title_info.content"
}
]
},
{
"type": "collapsible_tab",
"name": "t:sections.main-product.blocks.collapsible_tab.name",
"settings": [
{
"type": "text",
"id": "heading",
"default": "Collapsible tab",
"info": "t:sections.main-product.blocks.collapsible_tab.settings.heading.info",
"label": "t:sections.main-product.blocks.collapsible_tab.settings.heading.label"
},
{
"type": "richtext",
"id": "content",
"label": "t:sections.main-product.blocks.collapsible_tab.settings.content.label"
},
{
"type": "page",
"id": "page",
"label": "t:sections.main-product.blocks.collapsible_tab.settings.page.label"
},
{
"type": "select",
"id": "icon",
"options": [
{
"value": "none",
"label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__1.label"
},
{
"value": "box",
"label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__2.label"
},
{
"value": "chat_bubble",
"label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__3.label"
},
{
"value": "check_mark",
"label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__4.label"
},
{
"value": "dryer",
"label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__5.label"
},
{
"value": "eye",
"label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__6.label"
},
{
"value": "heart",
"label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__7.label"
},
{
"value": "iron",
"label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__8.label"
},
{
"value": "leaf",
"label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__9.label"
},
{
"value": "leather",
"label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__10.label"
},
{
"value": "lock",
"label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__11.label"
},
{
"value": "map_pin",
"label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__12.label"
},
{
"value": "pants",
"label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__13.label"
},
{
"value": "plane",
"label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__14.label"
},
{
"value": "price_tag",
"label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__15.label"
},
{
"value": "question_mark",
"label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__16.label"
},
{
"value": "return",
"label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__17.label"
},
{
"value": "ruler",
"label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__18.label"
},
{
"value": "shirt",
"label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__19.label"
},
{
"value": "shoe",
"label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__20.label"
},
{
"value": "silhouette",
"label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__21.label"
},
{
"value": "star",
"label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__22.label"
},
{
"value": "truck",
"label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__23.label"
},
{
"value": "washing",
"label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__24.label"
}
],
"default": "check_mark",
"label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.label"
}
]
},
{
"type": "popup",
"name": "t:sections.main-product.blocks.popup.name",
"settings": [
{
"type": "text",
"id": "link_label",
"default": "Pop-up link text",
"label": "t:sections.main-product.blocks.popup.settings.link_label.label"
},
{
"id": "page",
"type": "page",
"label": "t:sections.main-product.blocks.popup.settings.page.label"
}
]
}
],
"settings": [
{
"type": "header",
"content": "t:sections.main-product.settings.header.content",
"info": "t:sections.main-product.settings.header.info"
},
{
"type": "checkbox",
"id": "enable_sticky_info",
"default": true,
"label": "t:sections.main-product.settings.enable_sticky_info.label"
},
{
"type": "checkbox",
"id": "enable_video_looping",
"default": false,
"label": "t:sections.main-product.settings.enable_video_looping.label"
},
{
"type": "checkbox",
"id": "enable_specs",
"default": true,
"label": "Show Specs metafields"
}
]
}
{% endschema %}
